.text-custom-warning{
    color:#b50c3f!important
}

.input-custom-grey{
    background-color: #f1f1f1
}

.input-custom-grey:hover{
    background-color: #f0f0f0
}

.input-custom-grey:focus{
    background-color: #f0f0f0
}

.button-custom-primary{
    border-color: #09cdf0;
    background-color: #064281;
    border-width: 0.5px;
}

.button-custom-primary:hover{
    border-color: #f0f0f0;
}

.footer-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.article-content{
    word-wrap: break-word;
}

.article-content-footer{
    background-color:#f7f7f7
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 0px grey;
    background-color:#f5f5f5;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #232222; 
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #706c6c; 
}

body{
    background-color: #f1f1f1    
}