body{
    margin: 0;
    padding: 0;
    background: #232426;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #2ecc71;
}
ul.errorlist {display:none;}
.box h1{
    color: #2ecc71;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    background: none;
    display: block;
    text-align: center;
    border: 3px solid #3498db;
    padding: 10px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 400px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    margin-top: 15px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}