<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_previous  %}
            <li class="page-item">
                <a class="page-link" href="?page={{ articles.previous_page_number }}">&larr; Geri</a>
            </li>
        {% endif %}
        

            <li class="page-item disabled">
                <a class="page-link">Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
            </li>
        
        
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">İleri &rarr;</a>
            </li>
        {% endif %}

    </ul>
</body>
</html>