{% extends "shared/navbar.html" %}
{% block body %}
    <div class="container">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 ml-5" role="main">
            <div class="page-header">
                <h1>Hakkımda</h1>
            </div>
            
            <p class="bd-lead">Merhaba, Ben Esat Yılmaz. 17 Yaşımdayım Ve Programlama Merakım Küçük Yaşlarda Başlamıştı.
                Hayalim Hep Yazılım Ya da Bilgisayar Mühendisi Olmaktı. O Yüzden Erken Başladım Ve Programlama Öğrenmeye Çalıştım.
            </p>
            <hr>
            <div class="page-header">
                <h1>İletişim Adreslerim</h1>
            </div>
            <hr>
            <h3><b>İnstagram:</b> <a href="http://instagram.com/esatbey35" class="alert-link text-dark"><i>@esatbey35</i></a></h3>
            <hr>
            <h3><b>Gmail: esat3515@gmail.com</b></h3>
        </main>
    </div>
    
{% endblock body %}
