{% extends "shared/navbar.html" %}

{% block title %}
 <title>ES-Blog | Profil Düzenle</title>
{% endblock title %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-xl-2"></div>
            
        <div class="col-md-8 col-xl-8">
            <br>
            <h3> Şifre Değiştirme Ekranı</h3>
            <hr>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ password_change_form|crispy }}
                <button type="submit" class="btn btn-danger w-100 h-50 mb-3">Şifreyi Değiştir</button>
            </form>
        </div>
        <div class="col-md-4 col-xl-4"></div>
    </div>
</div>

{% endblock body %}