<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES-Blog | Üye Girişi</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 mt-5">
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% else %}
                {% endif %}
                    <form class="box justify-content-center" method="post">
                        {% csrf_token %}
                        <h1>Giriş Ekranı</h1>
                        {{ form }}
                        <input type="submit" class="mb-5" value="Giriş Yap">
                    </form>
            </div>  
        </div>
    </div>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>